* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.5;
	scroll-behavior: smooth;
	background-color: rgba(255, 255, 255, 0.8);
}

h1 {
	text-align: left;
}

#navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 280px;
	width: 300px;
	height: 100%;
	border-right: solid;
  	border-color: #333;
}

#navbar ul { 
	padding: 0;
	height: 90%;
}

#navbar li {
  border-bottom: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  color: #333; 
}

.nav-link:hover {
	background-color: #EEE;
	transition: 0.3;
}

#main-doc {
	position: absolute;
	margin-left: 320px;
	padding: 30px;
}

section article {
  color: #333;
  margin: 30px 15px;
  padding: 50px 30px;
}

section li {
  margin: 30px 0px  0px 60px;
}

code {
  display: block;
  text-align: left;
  padding: 20px;
  margin: 15px;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #DDD;
  color: #333;
}

section p {
	margin: 15px;
}

em {
	color: #222;
}

#show-case > li {
	list-style: none;
	background-color: #DDD;
	padding: 10px;
	max-width: 700px;
	text-align: center;
}

#show-case > li > img {
	width: 600px;
	margin: 10px 0px;
}
